<app-navbar></app-navbar>
<app-navbar></app-navbar>

<div class="container">
  <!-- Contenedor Principal del Dashboard -->
  <div class="dashboard-container">

    <!-- Estadísticas -->
    <div class="statistics-section">
      <div class="stat-card">
        <h3>Nacionalidad</h3>
        <p>{{ entrenador?.nacionalidad }}</p>
      </div>

      <div class="stat-card" *ngIf="entrenador?.clubActual">
        <h3>Club Actual</h3>
        <!-- <p>{{ entrenador?.clubActual?.nombre }}</p> -->
        <img [src]="entrenador?.clubActual?.fotografia?.url || defaultPicture"
             alt="Logo de {{ entrenador?.nombre }}" class="club-logo">
      </div>

      <div class="stat-card">
        <h3>Edad</h3>
        <p>{{ entrenador?.edad }} años</p>
      </div>
    </div>

    <!-- Vacantes Activas -->
    <div class="vacantes-section">
      <h2>Vacantes Recomendadas</h2>
      <div class="vacantes-grid">
        <div class="vacante-card" *ngFor="let vacante of vacantesSimilares">
          <div class="vacante-header">
            <h3>{{ vacante?.posicion }}</h3>
          </div>
          <div class="vacante-body">
            <img [src]="vacante.clubInfo?.fotografia?.url || defaultPicture" class="aviso-img">
            <p><strong>Salario:</strong> {{ vacante.salario ? vacante.salario.toLocaleString('es-ES') + ' €' : 'No especificado' }}</p>
            <p><strong>Descripción:</strong> {{ vacante.descripcion || 'No hay descripción disponible.' }}</p>
          </div>
          <div class="vacante-actions">
            <button class="btn btn-outline-danger" (click)="mandarSolicitud(vacante)" [disabled]="haEnviadoSolicitud(vacante._id)">
              <i class="fa fa-send"></i> Enviar Solicitud
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="vacantesSimilares.length === 0">
        <p>No tienes vacantes recomendadas.</p>
      </div>
    </div>

    <!-- Sección de Avisos -->
    <div class="avisos-section">
      <h2>Últimos Avisos</h2>
      <div *ngIf="avisos.length > 0" class="avisos-grid">
        <div *ngFor="let aviso of avisos">
          <div class="aviso-card" [ngClass]="{ 'no-visto': !aviso.visto }" (click)="marcarComoVisto(aviso)">
            <img [src]="aviso.perfil?.fotografia?.url || defaultPicture" alt="Imagen de {{ aviso.perfil.nombre }}"
              class="aviso-img">
            <div class="aviso-info">
              <h3>{{ aviso.mensaje }}</h3>
              <p><strong>Nombre:</strong> {{ aviso.perfil.nombre }} {{ aviso.perfil.apellidos }}</p>
              <p><strong>Tipo de Perfil:</strong> {{ aviso.tipoPerfil | titlecase }}</p>
              <p><strong>Fecha:</strong> {{ aviso.createdAt | date:'short' }}</p>
              <button class="btn btn-outline-primary" (click)="verPerfil(aviso.perfilId, aviso.tipoPerfil)">
                Ver Perfil
              </button>
              <button *ngIf="aviso.vacante" class="btn btn-primary ver-solicitudes-btn"
                (click)="verSolicitudes(aviso.vacante)" style="margin-left: 15px;">
                Ver Solicitudes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="avisos.length === 0">
        <p>No tienes avisos recientes.</p>
      </div>
    </div>

    <div class="solicitudes-section">
      <h2>Mis Solicitudes</h2>

      <!-- Mensaje cuando no hay jugadores en la plantilla -->
      <div *ngIf="!solicitudes || solicitudes.length === 0" class="no-solictudes">
        <p>No tienes solicitudes activas actualmente.</p>
      </div>

      <div *ngIf="solicitudes && solicitudes.length > 0" class="solicitud-grid">
        <!-- Tarjetas de solicitudes -->
        <div class="solicitud-card" *ngFor="let solicitud of solicitudes" [ngClass]="{
      'card-pendiente': solicitud.estado === 'Pendiente',
      'card-en-proceso': solicitud.estado === 'En Proceso',
      'card-aceptada': solicitud.estado === 'Aceptada',
      'card-rechazada': solicitud.estado === 'Rechazada'
    }">
          <div class="solicitud-header">
            <img [src]="solicitud.club.fotografia?.url || defaultPicture"
              alt="Logo de {{ solicitud.vacante.nombreClub }}" class="club-logo">
            <h3>{{ solicitud.club.nombre }}</h3>
          </div>

          <div class="solicitud-info">
            <p><strong>{{ userType === 'entrenador' ? 'Especialidad:' : 'Posición:' }}</strong> {{
              solicitud.vacante.posicion }}</p>
            <p><strong>Salario:</strong> {{ solicitud.vacante.salario ?
              solicitud.vacante.salario.toLocaleString('es-ES')
              +
              ' €' : 'No especificado' }}</p>
            <p><strong>Fecha:</strong> {{ solicitud.fecha | date:'short' }}</p>
            <p><strong>Estado: </strong>
              <span [ngClass]="{
              'estado-pendiente': solicitud.estado === 'Pendiente',
              'estado-en-proceso': solicitud.estado === 'En Proceso',
              'estado-aceptada': solicitud.estado === 'Aceptada',
              'estado-rechazada': solicitud.estado === 'Rechazada'
            }">{{ solicitud.estado }}</span>
            </p>
          </div>
          <div class="solicitud-actions">
            <button class="btn-cancelar" (click)="cancelarSolicitud(solicitud._id)"
              [disabled]="solicitud.estado === 'Aceptada' || solicitud.estado === 'Rechazada'">
              Cancelar Solicitud
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
