<app-navbar></app-navbar> <!-- Usar la Navbar existente -->

<div class="avisos-container" *ngIf="!isLoading && !hasError">
    <h2 class="text-center">Mis Avisos</h2>
  
    <div *ngIf="avisos.length === 0" class="no-avisos">
      <p>No tienes avisos nuevos.</p>
    </div>
  
    <div *ngIf="avisos.length > 0">
      <ul class="avisos-list">
        <li *ngFor="let aviso of avisos" class="aviso-card">
            <div class="aviso-container">
              <!-- Imagen del perfil -->
              <div class="aviso-image">
                <img [src]="aviso.perfil?.fotografia?.url || 'ruta/a/imagen_por_defecto.jpg'" alt="Imagen de {{ aviso.perfil.nombre }}" class="perfil-img">
              </div>
          
              <!-- Contenido del aviso -->
              <div class="aviso-content">
                <h3>{{ aviso.mensaje }}</h3>
                <p><strong>Nombre:</strong> {{ aviso.perfil.nombre }} {{ aviso.perfil.apellidos }}</p>
                <p><strong>Tipo de Perfil:</strong> {{ aviso.tipoPerfil | titlecase }}</p>
                <p><strong>Fecha:</strong> {{ aviso.createdAt | date:'short' }}</p>
              </div>
            </div>
          </li>
          
      </ul>
    </div>
  </div>
  
  <div *ngIf="isLoading" class="loading">
    <p>Cargando avisos...</p>
  </div>
  
  <div *ngIf="hasError" class="error">
    <p>Hubo un error al cargar los avisos. Inténtalo más tarde.</p>
  </div>
  