$primary-color: #1f8c7c; // Verde del logo
$secondary-color: #0c6efd; // Azul del logo
$background-color: #f4f7f6; // Color de fondo
$text-color: #000000;

.profile-container {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

.info-container {
  max-width: 40%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: $text-color;
    margin-bottom: 20px;
  }
}

.info-block {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;

  .info-title {
    font-weight: bold;
    color: $text-color;
    margin-right: 7px;
  }

  .info-data {
    color: $text-color;
  }

}
.campo-container {
  position: relative;
  // display: flex;
  // justify-content: center;
  //width: 10%;
  //max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  //margin-left: 20px;
}
.campo-futbol {
  width: 100%;
  display: block;
}

.posicion {
  position: absolute;
  font-weight: bold;
  color: white;
  //background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 4px;
}

.portero { top: 44%; left: 7%; }
.central-diestro { top: 57%; left: 20%; }
.central-zurdo { top: 32%; left: 20%; }
.lateral-diestro { top: 77%; left: 28%; }
.lateral-zurdo { top: 12%; left: 28%; }
.mediocentro-defensivo { top: 44%; left: 35%; }
.interior-diestro { top: 64%; left: 45%; }
.interior-zurdo { top: 22%; left: 45%; }
.mediapunta { top: 44%; left: 60%; }
.extremo-diestro { top: 72%; left: 68%; }
.extremo-zurdo { top: 17%; left: 68%; }
.delantero-centro { top: 44%; left: 80%; }
.carrilero-diestro { top: 82%; left: 47%; }
.carrilero-zurdo { top: 7%; left: 47%; }

.position-circle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.position-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $background-color; // Cambia esto por el color que desees
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.position-label {
  font-size: 1rem;
  color: $text-color; // Color del texto
}

.separator {
  margin: 1rem 0;  // Espacio arriba y abajo de la línea
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);  // Color y grosor de la línea
}

.posicion {
  //position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.posicion.active {
  background-color: white; /* Color blanco cuando está activa */
  color: black; /* Texto en negro cuando está activa */
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    i {
      margin-right: 8px;
    }

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      transform: translateY(-2px);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  // Estilo para el botón de editar
  button[color="primary"] {
    background-color: #1f8c7c; // Cambia esto si quieres otro color primario
    color: #fff;

    &:hover {
      background-color: lighten(#1f8c7c, 10%); // Efecto hover
    }
  }

  // Estilo para el botón de eliminar
  button[color="warn"] {
    background-color: #dc3545; // Cambia esto si quieres otro color de advertencia
    color: #fff;

    &:hover {
      background-color: lighten(#dc3545, 10%);
    }
  }
}

