<app-navbar></app-navbar>

<div class="dashboard-container">
  <h2 class="text-center mb-4">Vacantes del Club</h2>
  <hr class="separator" style="margin-bottom: 20px;">

  <!-- Mostrar mensaje si no hay vacantes -->
  <div *ngIf="vacantes.length === 0" class="no-vacantes-message">
    <i class="fa fa-info-circle info-icon"></i>
    <p>No hay vacantes disponibles en este momento.</p>
    <p class="sub-message">Puedes crear una nueva vacante haciendo clic en el botón de abajo.</p>
  </div>

  <div class="vacantes-grid" *ngIf="vacantes.length > 0">
    <!-- Tarjeta de cada vacante -->
    <div class="vacante-card" *ngFor="let vacante of vacantes">
      <div class="vacante-header">
        <h3>{{ vacante.posicion }}</h3>
        <span class="badge" [ngClass]="vacante.destinatario === 'Futbolista' ? 'badge-futbolista' : 'badge-entrenador'">
          {{ vacante.destinatario }}
        </span>
      </div>

      <div class="vacante-body">
        <p><strong>Salario bruto anual:</strong> {{ vacante.salario ? vacante.salario.toLocaleString('es-ES') + ' €' : 'No especificado' }}</p>
        <p><strong>Descripción:</strong> {{ vacante.descripcion || 'No hay descripción disponible.' }}</p>
      </div>

      <div class="vacante-actions">
        <button class="btn btn-outline-primary" (click)="editarVacante(vacante)"><i class="fa fa-edit"></i> Editar</button>
        <button class="btn btn-outline-danger" (click)="eliminarVacante(vacante)"><i class="fa fa-trash"></i> Eliminar</button>
        <button class="btn btn-outline-info" (click)="verSolicitudes(vacante._id)"> Ver Solicitudes</button> <!-- Nuevo botón -->
      </div>
    </div>
  </div>

  <!-- Botón para crear una nueva vacante -->
  <div class="d-flex justify-content-end mb-3" style="margin-top: 30px; display: flex; justify-content: end;">
    <button class="btn btn-success" (click)="goToCreateVacante()">
      <i class="fa fa-plus-circle"></i> Crear Nueva Vacante
    </button>
  </div>
</div>

