$primary-color: #1f8c7c; // Verde del logo
$secondary-color: #0c6efd; // Azul del logo
$background-color: #f4f7f6; // Color de fondo
$text-color: #000000;

.profile-container {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 98vh; // Ocupar todo el alto de la pantalla
  box-sizing: border-box; // Incluye padding y border en el alto total
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

.info-container {
  max-width: 40%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: $text-color;
    margin-bottom: 20px;
  }
}

.info-block {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;

  .info-title {
    font-weight: bold;
    color: $text-color;
    margin-right: 7px;
  }

  .info-data {
    color: $text-color;
  }

}
