<!-- Barra de Navegación -->
<div class="navbar">
  <button class="nav-button" (click)="goHome()">
    <i class="fa fa-home"></i> Home
  </button>
  <button *ngIf="userType === 'club'" class="nav-button" (click)="myVacantes()" style="margin-left: 20px;">
    Mis Vacantes
  </button>
  <button *ngIf="userType !== 'club'" class="nav-button" (click)="mySolicitudes()" style="margin-left: 20px;">
    Mis Solicitudes
  </button>
  <button *ngIf="userType !== 'club'" class="nav-button" (click)="buscarEquipo()" style="margin-left: 20px;">
    Buscar Equipo
  </button>
  <button class="nav-button" style="margin-left: 20px;" (click)="searchProfiles()">
    Filtrar Búsqueda
  </button>
  <div class="search-container" (click)="$event.stopPropagation()">
    <input type="text" class="search-input" placeholder="Buscar futbolistas, entrenadores, clubes..."
      (input)="onSearch($event)">
    <button class="search-button" (click)="onSearch($event)">
      <i class="fa fa-search"></i>
    </button>

    <div class="search-results" *ngIf="isSearchActive && searchResults.length > 0">
      <ul>
        <li *ngFor="let result of searchResults" class="search-item" (click)="viewSearchProfile(result)">
          <img [src]="result.fotografia?.url || defaultPicture" alt="Foto de {{ result.nombre }}"
            class="search-item-img">
          {{ result.nombre }} {{ result.apellidos }}
        </li>
      </ul>
    </div>
  </div>

  <div class="right-aligned-buttons">
    <button class="nav-button" (click)="goToFavorites()">
      <i class="fa fa-heart"></i> Favoritos
    </button>
    <button class="nav-button" (click)="viewNotifications()" [ngClass]="{'has-notifications': avisos}">
      <i class="fa fa-bell"></i> Avisos
    </button>

    <button class="nav-button" (click)="openChat()">
      <i class="fa fa-comments"></i> Chat
    </button>
    <button class="nav-button" (click)="viewProfile()">
      <img [src]="profilePictureUrl || defaultPicture" alt="Foto de perfil" class="profile-image">
    </button>
    <button class="nav-button" (click)="logout()" style="margin-right: 20px;">
      <i class="fa fa-sign-out-alt"></i>
    </button>
  </div>
</div>
