<div class="container register-form">
  <div class="card register-card shadow-lg p-4">
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="spinner"></div>
      <p>Actualizando...</p>
    </div>

    <div class="card-body">
      <h2 class="text-center mb-4">Modificar Perfil de Entrenador</h2>
      <form [formGroup]="entrenadorForm" (ngSubmit)="onSubmit()">

        <!-- Foto de perfil -->
        <div class="image-container" style="position: relative; cursor: pointer;">
          <img [src]="selectedImageUrl || entrenador?.fotografia?.url || defaultPicture" alt="Foto del Entrenador"
            class="img-fluid profile-image" (click)="fileInput.click()" />
          <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;" id="fotografia"
            formControlName="fotografia">

          <!-- Icono de editar -->
          <div class="edit-icon">
            <i class="fa fa-edit"></i>
          </div>
        </div>

        <!-- Nombre y Apellidos en una línea -->
        <div class="form-row">
          <div class="form-group col-md-6 mb-3">
            <label for="nombre" class="form-label"><i class="fa fa-user"></i> Nombre: *</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre"
              placeholder="Introduce tu nombre" required>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="apellidos" class="form-label"><i class="fa fa-user"></i> Apellidos: *</label>
            <input type="text" id="apellidos" class="form-control" formControlName="apellidos"
              placeholder="Introduce tus apellidos" required>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group mb-3">
          <label for="email" class="form-label"><i class="fa fa-envelope"></i> Correo electrónico: *</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Introduce tu email"
            [attr.disabled]="true">
        </div>

        <!-- Edad y Teléfono en una línea -->
        <div class="form-row">
          <div class="form-group col-md-6 mb-3">
            <label for="edad" class="form-label"><i class="fa fa-birthday-cake"></i> Edad: *</label>
            <input type="number" id="edad" class="form-control" formControlName="edad" placeholder="Introduce tu edad"
              required>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="telefono" class="form-label"><i class="fa fa-phone"></i> Teléfono:</label>
            <input type="text" id="telefono" class="form-control" formControlName="telefono"
              placeholder="Introduce tu teléfono" maxlength="9">
          </div>
        </div>

        <!-- Club actual y categoría en una línea -->
        <div class="form-row">
          <div class="form-group col-md-6 mb-3">
            <label for="clubActual" class="form-label"><i class="fa fa-shield"></i> Club Actual:</label>
            <select id="clubActual" class="form-control" formControlName="clubActual" (change)="onClubChange()">
              <option [value]="null">Sin club</option>
              <option *ngFor="let club of clubs$ | async" [value]="club._id">{{ club.nombre }}</option>
            </select>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="categoriaActual" class="form-label"><i class="fa fa-trophy"></i> Categoría del club:</label>
            <input type="text" id="categoriaActual" class="form-control" formControlName="categoriaActual">
          </div>
        </div>

         <!-- Nacionalidad -->
         <div class="form-group col-md-6 mb-3">
          <label for="nacionalidad" class="form-label"><i class="fa fa-flag"></i> País de Nacimiento:</label>
          <input type="text" id="nacionalidad" class="form-control" formControlName="nacionalidad"
            placeholder="Introduce tu nacionalidad" required>
        </div>

        <!-- Especialidades -->
        <div class="form-group col-md-6 mb-3">
          <label for="especialidades" class="form-label">
            <i class="fa fa-soccer-ball-o"></i> Especialidades: *
          </label>
          <div id="especialidades" class="form-check-container">
            <div class="form-check" *ngFor="let specialty of especialidades">
              <input class="form-check-input" type="checkbox" [value]="specialty.value"
                (change)="onCheckboxChange($event)"
                [checked]="entrenadorForm.get('especialidades')?.value?.includes(specialty.value)">
              <label class="form-check-label">
                {{ specialty.label }}
              </label>
            </div>
          </div>
        </div>

        <!-- Botón de guardar -->
        <div class="d-grid">
          <button mat-raised-button color="primary" type="submit" [disabled]="entrenadorForm.invalid">
            <i class="fa fa-save"></i> Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
