.search-container {
  padding: 20px;
  background-color: #f4f7f6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 12vh;

  .profile-selector, .futbolista-filters, .entrenador-filters, .club-filters {
    margin-bottom: 20px;
  }

  select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }

  button {
    width: 100%;
    padding: 15px;
    background-color: #1f8c7c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: darken(#1f8c7c, 10%);
    }
  }
}
